<% if flash[:notice] %>
 <div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <%= flash[:notice] %>
 </div>
<% elsif flash[:alert] %>
 <div class="alert alert-error">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <%= flash[:alert] %>
 </div>
<% end %>

<% if current_user %>
  <%= current_user.login %>
<% end %>
